@media (max-width: 1480px) {
    .title {
        font-size: 50px;
        line-height: 75px;
        margin-top: 60px;
    }
    .welcome {
        &__main {
            margin-right: -158px;
            position: relative;
            z-index: 10;
        }
        &__title {
            padding-top: 50px;
            line-height: 90px;
            margin-top: 0;
        }
        &__text {
            font-size: 24px;
            line-height: 28px;
        }
        &__link {
            font-size: 20px;
            line-height: 23px;
            font-weight: 100;
            margin-top: 50px;
            padding: 18px 46px;
        }
        &__slider {
            &--control {
                width: 700px;
                padding: 0 75px 0 224px;
                &_num {
                    font-size: 20px;
                }
                &_boolet {
                    & li {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
            &--inner {
                width: 68.36vw;
                height: calc(68.36vw * 0.75);
            }
        }
        &__slid {
            width: 68.36vw;
            height: calc(68.36vw * 0.75);
        }
    }
    h3 {
        font-size: 28px;
        line-height: 31px;
        margin: 23px -180px 9px 0;
        letter-spacing: 3px;
    }
    .visiting {
        &__title {
            margin-top: 60px;
            padding-bottom: 20px;
        }
        &__board {
            margin: 60px 0;
            padding: 0 108px;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 62px;
            grid-column-gap: 108px;
        }
        &__link {
            width: 150px;
            &:hover {
                width: 100%;
            }
        }
        &__item {
            &--img {
                width: 100%;
            }
            &--link {
                font-size: 20px;
                line-height: 23px;
            }
        }
    }
    .googl {
        font-size: 16px;
        line-height: 19px;
    }
    .explore {
        &__inner {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding: 0 0 60px;
        }
        &__title {
            display: block;
            padding-bottom: 20px;
            margin-bottom: 60px;
        }
        &__text3 {
            display: none;
        }
        &__text {
            font-size: 20px;
            max-width: 100%;
            & + p {
                margin-top: 0px;
            }
        }
        &__img-container {
            margin: 57px auto 0;
        }
    }
    .video {
        padding: 0 0 60px;
        position: relative;
        &__play {
            width: 152px;
            height: 152px;
            top: calc(60% - 122px);
            left: calc(55% - 126px);
            background-size: cover;
        }
        &__movie {
            width: 100%;
            height: calc(96.1vw * 0.45);
            margin-top: 0px;
        }
        &__control {
            & button {
                mask-size: cover;
            }
            height: 60px;
            padding: 0 40px;
            margin-top: -3px;
            &--play,
            &--pause {
                height: 30px;
            }
            &--volume,
            &--mute {
                width: 26px;
                height: 20px;
            }
            &--full,
            &--full-ex {
                width: 26px;
                height: 26px;
            }
        }
        &__progres,
        &__volume {
            height: 5px;
        }
        &__progres::-webkit-slider-thumb,
        &__volume::-webkit-slider-thumb {
            width: 13px;
            height: 13px;
        }
        &__progres {
            width: 55.08vw;
        }
        &__volume {
            width: 13.96vw;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__link {
            display: none;
        }
        &__slider {
            &--item {
                & iframe {
                    width: 29.3vw;
                    height: calc(29.3vw * 0.57);
                }
            }
        }
    }
    .gallery {
        padding-top: 60px;
        &__title {
            margin: 0;
        }
        &__container {
            margin-top: 60px;
            height: 1265px;
        }
        &__gradient {
            height: 239px;
        }
        &__item {
            width: 100%;
        }
    }
    .tickets {
        padding: 0 0 60px;
        &__img {
            width: 700px;
            height: 440px;
            object-fit: cover;
        }
        &__title {
            padding-bottom: 20px;
            margin-bottom: 60px;
        }
        &__radio {
            display: none;
        }
        &__amount {
            max-width: 207px;
            padding-right: 30px;
            &--title {
                text-align: left;
                margin-bottom: 28px;
            }
        }
        &__counter {
            width: 175px;
            margin-bottom: 25px;
        }
        &__total {
            margin-top: 0;
        }
        &__btn {
            margin: 67px 0 0 0px;
        }
    }
    .form {
        padding: 75px 27px 30px;
        width: 1024px;
        height: 768px;
        &__active {
            transform: translateX(-26px);
        }
    }
    .contacts {
        &__title {
            padding-bottom: 20px;
        }
        &__img {
            width: 67.77vw;
            height: 44.34vw;
        }
        &__inner {
            padding: 60px 0 66px;
        }
        &__text {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
        }
        &__list {
            margin-top: 35px;
            &--item {
                font-size: 20px;
                line-height: 23px;
                & + li {
                    margin-top: 15px;
                }
            }
        }
    }
    .footer {
        &__img {
            margin-top: 0;
        }
        &__inner {
            padding: 62px 0 47px;
        }
        &__title {
            line-height: 31px;
        }
        &__menu {
            margin-top: 4px;
            margin-left: -263px;
            &--list {
                gap: 26px 122px;
                height: 130px;
            }
            &--link {
                line-height: 26px;
            }
        }
        &__list {
            &--item {
                margin-bottom: 0;
                & + & {
                    margin-left: 25px;
                }
            }
        }
    }
}
@media (max-width: 1040px) {
    .header {
        &__inner {
            height: 130px;
        }
        &__link {
            margin-top: 2px;
        }
        &__btn {
            display: block;
        }
        &__menu {
            order: 3;
            width: 230px;
            height: 467px;
            position: absolute;
            left: -1000px;
            top: 130px;
            z-index: 15;
            background-color: #030303;
            &-active {
                left: 0;
            }
            &--list {
                flex-direction: column;
                padding: 35px;
            }
            &--item {
                position: relative;
                padding-right: 30px;
                &-link {
                    font-size: 20px;
                    line-height: 23px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    right: 5px;
                    top: 4px;
                    background-image: url(../assets/img/menu-arrow.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 7px;
                    height: 12px;
                }
                & + li {
                    padding-left: 0px;
                    margin-top: 25px;
                }
            }
        }
    }
    .welcome__main--menu {
        opacity: 0;
    }
}
@media (max-width: 1023px) {
    .form {
        width: 76.8vw;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        padding: 79px 27px 42px;
        &-overlay {
            position: absolute;
            height: 210vh;
            top: -215px;
        }
        &__active {
            transform: translateX(-18px);
        }
        &__left {
            width: 530px;
            margin-bottom: 50px;
            &-text {
                margin-bottom: 40px;
            }
        }
        &__title {
            margin: 0px 0 17px;
        }
        &__date,
        &__time {
            width: 47.1%;
        }
        &__date {
            margin-right: 26px;
        }
        &__right {
            padding: 25px 14px;
        }
        &__tot {
            margin-bottom: 15px;
        }
        &__card2 {
            left: 140px;
        }
        &__submit {
            left: 280px;
            top: 54px;
        }
    }
}
@media (max-width: 956px) {
    .header {
        &__link {
            margin-top: 10px;
        }
        &__btn {
            margin-top: -1px;
        }
        &__menu {
            width: 100%;
            height: 861px;
            top: 110px;
            padding: 35px;
            &--adaptive {
                display: block;
                margin-top: 35px;
                &_imgs {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 17px 20px;
                    justify-content: center;
                    padding-bottom: 32px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                }
                & &_list {
                    margin-top: 35px;
                    justify-content: center;
                }
            }
            &--list {
                padding: 0px;
            }
        }
    }
    .title {
        font-size: 40px;
        line-height: 60px;
        margin-top: 40px;
    }
    .header__inner {
        height: 110px;
    }
    .welcome {
        &__inner {
            flex-direction: column;
        }
        &__main {
            margin-right: 0px;
            text-align: center;
        }
        &__title {
            padding-top: 0px;
            margin-top: 0;
        }
        &__text {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 47px;
            margin-top: 25px;
        }
        &__link {
            display: none;
        }
        &__slider {
            padding-bottom: 100px;
            &--control {
                width: 100%;
                padding: 0 22.5%;
                height: 100px;
            }
            &--inner {
                width: 100%;
                height: calc(94.8vw * 0.75);
            }
        }
        &__slid {
            width: 100%;
            height: calc(94.8vw * 0.75);
        }
        &__item1 {
            background: url(../assets/img/welcome-slider/1.jpg);
            background-size: cover;
        }
        &__item2 {
            background: url(../assets/img/welcome-slider/2.jpg);
            background-size: cover;
        }
        &__item3 {
            background: url(../assets/img/welcome-slider/3.jpg);
            background-size: cover;
        }
        &__item4 {
            background: url(../assets/img/welcome-slider/4.jpg);
            background-size: cover;
        }
        &__item5 {
            background: url(../assets/img/welcome-slider/5.jpg);
            background-size: cover;
        }
    }
    h3 {
        font-size: 22px;
        line-height: 24px;
        margin: 21px -180px 10px 0;
    }
    .visiting {
        &__title {
            padding-bottom: 20px;
        }
        &__board {
            margin: 40px 0;
            padding: 0 56px 40px;
            grid-row-gap: 39px;
            grid-column-gap: 56px;
        }
        &__link {
            width: 150px;
            &:hover {
                width: 100%;
            }
        }
        &__item {
            &--img {
                width: 100%;
            }
            &--link {
                font-size: 18px;
                line-height: 21px;
                margin-top: 11px;
            }
        }
    }
    .googl {
        margin-top: 9px;
        font-size: 16px;
        line-height: 19px;
    }
    .explore {
        &__inner {
            padding: 0 0 40px;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__text {
            display: none;
        }
        &__img-container {
            margin: 0;
            width: 94.79vw;
            height: calc(94.79vw * 0.968);
        }
        &__img {
            width: 94.79vw;
            height: 100%;
        }
        &__slider {
            background-size: cover;
            width: 41px;
        }
    }
    .video {
        padding: 0 0 79px;
        &__play {
            width: 80px;
            height: 80px;
            top: calc(50% - 40px);
            left: calc(50% - 40px);
            background-size: cover;
        }
        &__movie {
            width: 100%;
            height: calc(96.1vw * 0.45);
            margin-top: 0px;
        }
        &__control {
            position: relative;
            padding: 0 30px;
            height: 54px;
            &--play,
            &--pause {
                width: 23px;
                height: 29px;
            }
        }
        &__progres {
            position: absolute;
            width: 100%;
            left: -2px;
            top: -6px;
        }
        &__volume {
            width: 63.28vw;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__slider {
            margin-top: 21px;
            &--item3 {
                display: none;
            }
            &--item {
                & iframe {
                    width: 46.09vw;
                    height: calc(46.08vw * 0.57);
                }
            }
            &--control {
                margin-top: 15px;
                &_boolet {
                    & li {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
    }
    .gallery {
        padding-top: 40px;
        &__title {
            margin-top: 0;
        }
        &__inner {
            grid-gap: 24px 24px;
            grid-template-columns: 1fr 1fr;
        }
        &__container {
            margin-top: 40px;
            height: 1080px;
        }
        &__gradient {
            height: 150px;
        }
    }
    .tickets {
        padding: 0 0 40px;
        &__main {
            justify-content: start;
        }
        &__amount {
            padding-left: 60px;
            padding-right: 0;
            max-width: 210px;
            &--title {
                margin-bottom: 39px;
            }
            &--label {
                margin-bottom: 9px;
            }
        }
        &__counter {
            margin-bottom: 26px;
        }
        &__img {
            width: 444px;
            height: 340px;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__btn {
            margin: 40px 0 0 0px;
        }
        &__total {
            margin-top: 39px;
        }
    }
    .contacts {
        &__title {
            padding-bottom: 20px;
        }
        &__img {
            width: 100%;
            height: 61.98vw;
        }
        &__inner {
            padding: 40px 0 73px;
            flex-direction: column;
        }
        &__text {
            font-size: 20px;
            line-height: 23px;
        }
        &__list {
            margin-top: 40px;
            margin-bottom: 40px;
            &--item {
                font-size: 18px;
                line-height: 21px;
                & + li {
                    margin-top: 15px;
                }
            }
        }
    }
    .parallax {
        height: 300px;
    }
    .footer {
        &__inner {
            padding: 40px 0;
            flex-wrap: wrap;
        }
        &__img {
            margin-top: 8px;
        }
        &__title {
            line-height: 50px;
        }
        &__menu {
            margin-top: 18px;
            margin-left: 0px;
            margin-right: 344px;
            &--list {
                gap: 25px 183px;
                height: 113px;
            }
            &--link {
                font-size: 18px;
                line-height: 21px;
            }
        }
        &__list {
            width: 100%;
            justify-content: right;
            margin-top: 49px;
            margin-right: 90px;
            &--item {
                margin-bottom: 0;
            }
        }
        &__wrapper {
            height: 100px;
        }
    }
}
@media (max-width: 762px) {
    .form {
        width: 580px;
    }
}
@media (max-width: 716px) {
    .header {
        &__inner {
            height: 90px;
        }
        &__logo {
            width: 29px;
            height: 16px;
        }
        &__title {
            font-size: 16px;
            line-height: 18px;
        }
        &__link {
            margin-top: 2px;
        }
        &__menu {
            height: 544px;
            top: 90px;
            padding: 35px;
            &--adaptive {
                &_imgs {
                    gap: 0px 12px;
                    padding-bottom: 17px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                }
                & &_list {
                    margin-top: 23px;
                }
            }
            &--list {
                row-gap: 25px;
            }
            &--item {
                & + & {
                    margin: 0;
                }
            }
        }
    }
    .title {
        font-size: 28px;
        line-height: 40px;
    }
    .welcome {
        &__title {
            margin-top: 6px;
        }
        &__text {
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 49px;
            margin-top: 24px;
        }
        &__slider {
            padding-bottom: 80px;
            &--control {
                padding: 0 19.5%;
                height: 80px;
                &_num {
                    font-size: 16px;
                    margin-bottom: 2px;
                    & .span {
                        margin: 0 5px;
                    }
                }
                &_boolet {
                    & li {
                        width: 7px;
                        height: 7px;
                    }
                    & li + li{
                        margin-left: 10px;
                    }
                }
                &_arrow {
                    width: 20px;
                    height: 8px;
                    margin-bottom: 8px;
                }
                &_arrowR {
                    margin-left: 12px;
                }
            }
            &--inner {
                height: calc(90.8vw * 0.75);
            }
        }
        &__slid {
            height: calc(90.8vw * 0.75);
        }
    }
    h3 {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 5px;
        margin: 22px -180px 10px 0;
    }
    .visiting {
        &__title {
            padding-bottom: 19px;
        }
        &__board {
            padding: 0 50px 38px;
            grid-row-gap: 39px;
            grid-template-columns: 1fr;
            margin: 40px 0 0;
        }
        &__item {
            &--link {
                font-size: 16px;
                line-height: 19px;
                margin-top: 10px;
            }
        }
    }
    .googl {
        margin-top: 10px;
    }
    .explore {
        &__inner {
            padding: 0 0 39px;
        }
        &__img-container {
            width: 100%;
            height: calc(90.79vw * 0.968);
        }
        &__img {
            width: 90vw;
        }
        &__slider {
            background-size: contain;
            background-repeat: no-repeat;
            width: 41px;
        }
    }
    .video {
        padding: 0 0 41px;
        &__title {
            margin-top: 37px;
        }
        &__play {
            width: 50px;
            height: 50px;
            top: calc(50% - 25px);
            left: calc(50% - 25px);
        }
        &__movie {
            height: calc(89vw * 0.45);
        }
        &__control {
            padding: 0 20px;
            height: 55px;
            margin-top: 0;
            &--play,
            &--pause {
                width: 14px;
                height: 18px;
            }
            &--volume,
            &--mute {
                width: 18px;
                height: 14px;
            }
            &--full,
            &--full-ex {
                width: 18px;
                height: 18px;
            }
        }
        &__progres,
        &__volume {
            height: 4px;
        }
        &__progres {
            top: -5px;
        }
        &__volume {
            width: 48vw;
        }
        &__progres::-webkit-slider-thumb,
        &__volume::-webkit-slider-thumb {
            width: 10px;
            height: 10px;
        }
        &__slider {
            margin-top: 40px;
            &--item3 {
                display: none;
            }
            &--item {
                & iframe {
                    width: 43vw;
                    height: calc(41.8vw * 0.57);
                }
            }
            &--control {
                margin-top: 35px;
                &_arrow {
                    width: 7px;
                    height: 8px;
                }
                &_boolet {
                    margin: 0 15px;
                    & li {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }
    }
    .gallery {
        &__container {
            margin-top: 40px;
            height: 637px;
        }
        &__gradient {
            height: 120px;
        }
    }
    .tickets {
        padding: 0 0 40px;
        &__main {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__amount {
            padding-left: 0px;
            max-width: 210px;
            &--title {
                margin-top: 40px;
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
            }
            &--label {
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 15px;
            }
        }
        &__counter {
            margin-bottom: 20px;
        }
        &__img {
            width: 100%;
            height: 160px;
        }
        &__total {
            font-size: 16px;
            line-height: 19px;
            margin-top: 40px;
            text-align: center;
        }
        &__btn {
            font-size: 16px;
        }
    }
    .contacts {
        &__inner {
            padding: 40px 0 43px;
        }
        &__text {
            font-size: 16px;
            line-height: 19px;
        }
        &__list {
            &--item {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
    .footer {
        &__inner {
            padding: 40px 0;
            flex-wrap: wrap;
        }
        &__img {
            width: 29px;
            height: 16px;
            margin-top: 0px;
        }
        &__title {
            font-size: 16px;
            line-height: 18px;
            margin-left: 20px;
        }
        &__menu {
            width: 100%;
            margin-top: 42px;
            margin-right: 0;
            display: block;
            &--list {
                align-content: space-between;
                gap: 30px 0px;
                height: 70px;
            }
            &--link {
                font-size: 16px;
                line-height: 19px;
            }
        }
        &__list {
            justify-content: center;
            margin-top: 38px;
            margin-right: 0px;
            &--item {
                & + & {
                    margin-left: 5px;
                }
            }
        }
        &__wrapper {
            .rss {
                display: none;
            }
            & span {
                font-size: 16px;
                line-height: 22px;
                & time {
                    margin-left: 6px;
                }
            }
        }
    }
    .copy-right {
        margin-left: 4px;
    }
}
@media (max-width: 580px) {
    .form {
        width: 100vw;
        padding: 79px 30px 50px;
        &-overlay {
            height: 250vh;
            top: -223px;
        }
        &__active {
            transform: translateX(-11px);
        }
        &__left {
            width: 100%;
            margin-bottom: 50px;
            &-text {
                border-bottom: 2px solid;
                padding-bottom: 9px;
            }
        }
        &__title {
            margin: 0px 0 16px;
            font-size: 32px;
            line-height: 35px;
        }
        &__date,
        &__time {
            width: 100%;
        }
        &__time {
            margin-top: 20px;
        }
        &__date {
            margin-right: 0px;
        }
        &__right {
            width: 100%;
            height: auto;
        }
        &__img {
            width: 120px;
            height: 96px;
            object-fit: contain;
        }
        &__tot {
            margin-bottom: 16px;
        }
        &__card {
            width: 100%;
            height: 210px;
            &--label {
                font-size: 11px;
                line-height: 13px;
            }
            &--line {
                margin: 0;
            }
            &--text {
                font-size: 13px;
                line-height: 15px;
                margin: 15px 30px 4px 0;
            }
            &--disc {
                font-size: 9px;
                line-height: 11px;
                margin-left: 250px;
                margin-top: 5px;
            }
        }
        &__card2 {
            padding-top: 25px;
            margin-top: 25px;
            position: static;
        }
        &__submit {
            position: static;
            margin-top: 40px;
            float: right;
        }
    }
}
@media (max-width: 418px) {
    .header__menu {
        padding: 0;
        height: 476px;
        &--list {
            row-gap: 15px;
        }
        &--img img {
            width: 70px;
        }
    }
}
@media (max-width: 400px) {
    .welcome__slider--control {
        padding: 0;
    }
    h3 {
        margin-right: -18px;
    }
    .gallery__inner {
        grid-gap: 15px 15px;
    }
    .form__active {
        transform: translateX(-8px);
    }
    .form__img {
        display: none;
    }
    .form__counter--label {
        font-size: 15px;
        line-height: 20px;
    }
    .form__row--label {
        font-size: 19px;
        line-height: 23px;
    }
    .form__tot span {
        font-size: 28px;
        line-height: 32px;
    }
    .form__card--right {
        display: none;
    }
    .form__card--number {
        width: 100%;
    }
    .form__card--exp {
        width: 46%;
    }
    .form__card--disc {
        margin-left: 157px;
    }
}
